-
  var card01Default= {
        title: '<div>綠美圖</div><div>將成台中新地標</div>', 
        image: './src/images/card01_01.png',
        date: '2018.03.30', 
        link: 'https://www.google.com.tw/'
  }

mixin card01(obj)
  - obj = obj || card01Default
  .card.card-01(class="d-flex flex-column")
    .image
      a(href=obj.link)
       img(src=obj.image)
    .wrap(class="px-5 py-3")
      .title(class="mb-2")
         h3.text-primary.font-weight-normal 
           a.h4(href=obj.link) !{obj.title}
      .date.text-primary(class="mb-3")
         .small=obj.date
          
